<!DOCTYPE html>
<html>
<head>
	<title>EndGem</title>
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="/stylesheets/landing.css">
</head>
<body>

	<div id="landing-header">
 		<h1>Welcome to EndGem!</h1>
		<a href="/index/0" class="btn btn-lg btn-success">View Courses And Their Content</a>
    </div>
    
    <ul class="slideshow">
      <li></li>
      <li></li>
    </ul>

</body>
</html>



    
    


